*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 580px;
    padding: 0 10px;
}

pre {
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

.PostsHasNot {
    margin-top: 30px;
    text-align: center;
}

.posts {
    margin-top: 70px;
}

.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
