.header {
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 200px;
}

.avatar {
    margin-right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper button {
    margin-left: 20px;
}

.disabledLink {
    pointer-events: none;
}